<html>
<header>
    <title></title>
</header>
<body>
<h1>Restaurants</h1>
<a href="{{url_for('newRestaurant')}}">Create New Restaurant</a>
</br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if restaurants %}

    {% for restaurant in restaurants %}
        <div>
            <span>{{restaurant.name}}</span>
            <a href="{{url_for('restaurantMenu', restaurant_id = restaurant.id)}}">Link</a>
            <a href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit</a>
            <a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete</a>
        </div>
    {% endfor %}
{% endif %}        
        
</body>
</html>